@page
@model CarrelloModel
@{
    ViewData["Title"] = "Carrello";
}
@{
    Program.UpdateList();
    if (@Model.prod.quantita != 0)
    {
        if (@Model.action == "compra")
        {
            await Task.Factory.StartNew(() => CompraItemCarrello(@Model.prod));
        }
        else if (@Model.action == "elimina")
        {
            await Task.Factory.StartNew(() => Program.p.ModificaCarrello(@Model.prod.nome, @Model.prod.quantita,
            @Model.prod.prezzo, ref Startup.carrello, "elimina"));
        }
        else if (@Model.action == "ricarica")
        {
            await Task.Factory.StartNew(() => Program.p.ModificaCarrello(@Model.prod.nome, @Model.prod.quantita,
            @Model.prod.prezzo, ref Startup.carrello, "ricarica"));
        }
        else if (@Model.action == "compra-tutto")
        {
            await Task.Factory.StartNew(() => EliminaTutto(ref Startup.carrello));

        }
    }
    Program.UpdateList();
}
<div class="text-center">
    <div class="row carrello-list">
        <div class="col-9">
            @for (int i = 0; i < @Startup.carrello.Count; i++)
            {
                string margin = null;
                if (i != 0)
                {
                    margin = "row-below-first";
                }
                <div class="row @margin">
                    <div class="col-10 offset-1">
                        <div class="row list-item">
                            <div class="col-xl-4 col-xxl-3">
                                <img class="img-fluid img-cart-prod"
                                src="~/images/@Program.p.FormatCandy(Startup.carrello[i].nome)" />
                            </div>
                            <div class="col-xl-6 col-xxl-2">
                                <h3 class="text-prod-list">@Startup.carrello[i].nome</h3>
                            </div>
                            <div class="col-12 col-xxl-7">
                                <form asp-page="/Carrello" method="post" id="cartForm">
                                    <div class="row">
                                        <div class="col-xl-3 btn-quantita">
                                            <button class="btn btn-primary btn-meno btn-prodotto shadow-none"
                                            type="button submit" name="btn" value="ricarica"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <img class="img-fluid" src="~/images/meno.png" />
                                            </button>
                                            <input class="quantity carrello-list-quant" min="1"
                                            max="@Program.products[@Model.FindProd(Startup.carrello[i].nome, Program.products)].quantita"
                                            name="quantProd" value="@Startup.carrello[i].quantita" type="number">
                                            <button class="btn btn-primary btn-piu btn-prodotto shadow-none"
                                            type="button submit" name="btn" value="ricarica"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp();">
                                                <img class="img-fluid" src="~/images/piu.png" />
                                            </button>
                                            <input type="hidden" name="nomeProd" value="@Startup.carrello[i].nome" />
                                            <input type="hidden" name="prezProd" value="@Startup.carrello[i].prezzo" />
                                        </div>
                                        <div class="col-xl-2">
                                            <h3 class="text-prod-list">@CalcolaPrezzo(Startup.carrello[i].prezzo,
                                            Startup.carrello[i].quantita)€</h3>
                                        </div>
                                        <div class="d-flex col-xl-3 offset-xl-2 offset-xxl-0 col-xxl-4 justify-content-end">
                                            <button class="btn btn-primary btn-compra btn-list-carrello shadow-none"
                                            type="submit" name="btn" value="compra">Compra</button>
                                        </div>
                                        <div class="col-xl-1 col-xxl-2">
                                            <div class="col-12">
                                                <button class="rimuovi" type="submit" name="btn" value="elimina">
                                                    <img class="img-fluid" src="~/images/cestino.png" /></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-3">
            <div class="col-11 carrello-tot">
                <div class="row d-flex justify-content-center">
                    <h3>Totale Carrello</h3>
                    <hr class="separator">
                </div>
                <div class="row tot-text d-flex justify-content-center">
                    <div class="col-6 col-xxl-3">
                        <h3>Totale:</h3>
                    </div>
                    <div class="col-5 col-xxl-3">
                        <h3>@CalcolaTotale(@Startup.carrello)€</h3>
                    </div>
                </div>
                <button class="btn btn-primary btn-compra btn-list-carrello-all shadow-none" type="submit" name="btn"
                    value="compra-tutto" formtarget="cartForm">Compra</button>
            </div>
        </div>
    </div>
</div>
@{
    string CalcolaPrezzo(double prezzo, int quantita)// arrotonda il valore a 2 cifre dopo la virgola
    {
        return Math.Round((prezzo * quantita), 2).ToString("N2");
    }
    string CalcolaTotale(List<Prodotto> cart)// calcola il prezzo totale del carrello
    {
        double tot = 0;
        for (int i = 0; i < cart.Count; i++)
            tot += Math.Round((cart[i].prezzo * cart[i].quantita), 2);
        return tot.ToString("N2");
    }
    void CompraItemCarrello(Prodotto itemProd)
    {
        Program.p.TogliProdotto(itemProd.nome, itemProd.quantita, ref Program.products,
        ref Program.modifiedProducts, ref Program.path);
        Program.p.ModificaCarrello(itemProd.nome, itemProd.quantita,
        itemProd.prezzo, ref Startup.carrello, "elimina");
    }
    void EliminaTutto(ref List<Prodotto> cart)
    {
        for (int i = 0; i < cart.Count; i++)
        {
            CompraItemCarrello(cart[i]);
        }

    }
}