@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="slider_section ">
</section>
<div class="text-center">
    @{ Program.UpdateList(); }
    <div class="row">
        @{
            for (int i = 0; i < Program.products.Count; i++)
            {
                /*<div class="col-12 col-md-6 col-lg-4 caramella">
                    <a asp-page="/Prodotto" asp-route-ID=@Program.products[i].nome>
                    <img class="img-fluid caramellaimg" src="~/images/@Program.p.FormatCandy(Program.products[i].nome)" />
                    @{
                        Disp(@Program.products[i]);
                    }
                    </a>
                </div>*/
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="box">
                        <a asp-page="/Prodotto" asp-route-ID=@Program.products[i].nome>
                            <div class="img-box">
                                <img class="img-fluid candy-img" src="~/images/@Program.p.FormatCandy(Program.products[i].nome)" />
                            </div>
                            <div class="row detail-box">
                                @{ Disp(@Program.products[i]); }
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

@{
    void Disp(Prodotto prod)
    {
        if (prod.quantita > 0)
        {
            <div class="col-3 d-flex justify-content-lg-start nomeProdottoLista">
                <h6>@prod.nome</h6>
            </div>
            <div class="col-3 d-flex justify-content-lg-end offset-5">
                <h6>Prezzo: @prod.prezzo€</h6>
            </div>
        }
        else
        {
            <div class="col-3 d-flex justify-content-lg-start nomeProdottoLista">
                <h6>@prod.nome</h6>
            </div>
            <div class="col-3 d-flex justify-content-lg-end offset-5">
                <h6 style="color: red;">Esaurito</h6>
            </div>
        }
    }
}