@page
@model Candy.Pages.ProdottoModel
@{
    ViewData["Title"] = "Pagina Prodotto";
}
@* su @page -> "{id}" per vsualizzare sul link l'id del parametro, questo inoltre sarà necessario per visualizzare la
    pagina*@
<div class="text-center">
    @{ Program.UpdateList(); Model.GetProductData(); }
    <div class="row">
        <div class="col-12 col-lg-6">
            <img class="img-fluid img-prodotto" src="~/images/@Model.imgProdotto" />
        </div>
        <div class="col-12 col-lg-6 info-prodotto">
            <div class="row d-flex justify-content-center">
                <h1 class="nome-prodotto">@Model.idProdotto</h1>
            </div>
            <div class="row justify-content-start disp-prodotto">
                <h5 class="disp-text-prodotto">Disponibilità: @Model.quant</h5>
            </div>
            <div class="row sez-quant">
                <div class="col-3 offset-2 offset-md-3">
                    <h5 class="quant-text-prodotto">Quantità:</h5>
                </div>
                <div class="col-4 text-start">
                    <button class="btn btn-primary btn-meno btn-prodotto" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <img class="img-fluid" src="~/images/meno.png" />
                    </button>
                    <input class="quantity" min="0" max="@Model.quant" name="quantity" value="@Model.GetValue()" type="number">
                    <button class="btn btn-primary btn-piu btn-prodotto" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <img class="img-fluid" src="~/images/piu.png" />
                    </button>
                </div>
            </div>
            <div class="row sez-acquisto">
                <div class="d-flex col-2 offset-2 offset-md-3 offset-xl-2 offset-xxl-3 justify-content-center">
                    <h3 class="prezzo-text">@Model.prez €</h3>
                </div>
                <div class=" d-flex col-4 col-xxl-3 justify-content-end">
                    <button asp-page="/Index" class="btn btn-primary btn-compra btn-prodotto">Compra</button>
                </div>
                <div class=" d-flex col-3 col-xxl-2 justify-content-between">
                    <button class="btn btn-primary btn-carrello btn-prodotto">
                        <img class="img-fluid" src="~/images/shop_cart_icon.png" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>