@page
@model Candy.Pages.ProvaModel
@{
    ViewData["Title"] = "Pagina Prodotto";
}
@* su @page -> "{id}" per vsualizzare sul link l'id del parametro, questo inoltre sarà necessario per visualizzare la
    pagina

    <h1 class="display-4">Pagina del prodotto</h1>
    <p>valore passato per parametro alla pagina: @Model.id</p>
    <p>Vediamo se funziona: @Model.ProductData()</p> *@
<div class="text-center">
    @{ Program.UpdateList(); Model.GetProductData(); }
    <div class="row">
        <div class="col-12 col-lg-6 caramella">
            <img class="img-fluid prodottoimg" src="~/images/@Model.imgProdotto" />
        </div>
        <div class="col-12 col-lg-6">
            <div class="row d-flex justify-content-center">
                <h1 class="nomeProdotto">@Model.idProdotto</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <h4 class="disponibilitaProdotto">Disponibilità: @Model.quant</h4>
            </div>
            <div class="row d-flex justify-content-center">
                <h3 class="prezzoProdotto">@Model.prez€</h3>
            </div>
            <div class="row sezioneAcquisto">
                <div class="col-4 d-flex justify-content-lg-start offset-2">
                    <button class="btn btnAcquisto btnMeno">-</button>
                    <div class="textQuant">Quantità:</div>
                    <button class="btn btnAcquisto btnPiu">+</button>
                </div>
                <div class="col-3 d-flex justify-content-lg-end offset-1">
                    <button class="btn btnAcquisto btnCompra">Compra</button>
                </div>
                <div class="col-2 d-flex justify-content-lg-between">
                    <button class="btn btnAcquisto btnCarrello">
                        <img class="shopcartProdimg" src="~/images/shop_cart_icon.png" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>